@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* { 
    /* box-sizing: border-box; */
    /* border: dashed 1px black; */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    height: 90vh;
    overflow: hidden;
}
:root {
    --line-width: 10px;
}
.base {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#vlines {
    left: -calc(var(--line-width) / 2);
    display: flex;
    /* flex-direction: column; */
    /* margin: 20px;     */
    position: absolute;
    justify-content: space-between;
}

.vline {
    width: var(--line-width);
    /* width: 5px; */
    height: 100%;
    background-color: yellow; 
}

#hlines {
    display: flex;
    flex-direction: column;
    /* margin: 20px;     */

    justify-content: space-between;
}

.hline {
    width: 100%;
    height: var(--line-width);
    /* height: 5px; */
    background-color: yellow;
}

/* .hline::before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: yellow;
    border: solid 2px black;
} */

#line {
    position: absolute;
    height: 5px;
    width: 100px;
    background-color: red;
}

.circle {
    margin: 0;
    background-color: brown;
    width: 50px;
    height: 50px;
    /* border-radius: 100%; */
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: .5;
}

.dot {
    background-color: black;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
.dragable {
    cursor:grab;
}

.small {
    transform: scale(0.5);
    background-color: black;
}

.line {
    height: 4px;
    background-color: red;
    position: absolute;
}