* {
    box-sizing: border-box;
}

body {
    /* background-color: red; */
    width: 400px;
    height: 400px;
    /* border: solid 1px black; */
    --rotation: 30;
    /* overflow: hidden; */
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.clock {
    padding: 0;
    border: solid 3px black;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
}

.clock .number {
    position: absolute;
    transform: rotate(var(--rotation));
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    /* background-color: red; */
}

.clock .number1 {--rotation: 30deg;}
.clock .number2 {--rotation: 60deg;}
.clock .number3 {--rotation: 90deg;}
.clock .number4 {--rotation: 120deg;}
.clock .number5 {--rotation: 150deg;}
.clock .number6 {--rotation: 180deg;}
.clock .number7 {--rotation: 210deg;}
.clock .number8 {--rotation: 240deg;}
.clock .number9 {--rotation: 270deg;}
.clock .number10 {--rotation: 300deg;}
.clock .number11 {--rotation: 330deg;}
/* .clock .number12 {--rotation: 0deg;} */


.clock .hand {
    position: absolute;
    transform-origin: bottom;
    width: 15px;
    height: 35%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 50%;
}

.clock .hand.min {
    width: 6px;
    height: 40%;
}


.clock .hand.sec {
    width: 3px;
    background-color: red;
    height: 43%;
}

/* .clock .center {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.clock .hand.hour::after {
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(173, 226, 142);
    height: 10px;
    width: 4px;
    position: absolute;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.clock .hand.sec::after {
    margin: 0;
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: linear; */
    background: linear-gradient(to top, black, rgb(156, 54, 54));
    bottom: 0%;
    right: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}